* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --main-color: #11cab8;
  --second-color: #244850;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

/* Header */
header {
  width: 100%;
  height: 56px;
  padding: 15px 0;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
}

/* Style Logo */
.container .logo {
  width: 90px;
  max-height: 56px;
}

.logo img {
  width: 100%;
  height: auto;
}
/* Style Logo */

/* Start Style nave */
nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  display: inline-block;
  font-size: 2.1rem;
  color: var(--second-color);
  margin: 0 12px;
}

nav ul li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  opacity: 0;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

nav ul li a:hover::after {
  opacity: 1;
  margin-top: 10px;
}
/* End Style nave */

/* Start Style drawer */
.drawer {
  position: relative;
  display: none;
}

.container .drawer .icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 32px;
  height: 32px;
}

.icon span {
  width: 100%;
  height: 100%;
  border-top: 2px solid gray;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
}

.icon .line-animate {
  width: 20px;
}

.icon:hover span {
  border-top-color: var(--main-color);
}

.icon:hover {
  cursor: pointer;
}

.icon:hover .line-animate {
  width: 100%;
  cursor: pointer;
}

.drawer:hover .drop-menu {
  display: block;
}

.drawer .drop-menu {
  display: none;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  top: 50px;
  min-width: 320px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.drawer .drop-menu::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 4px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  border-width: 16px;
}

.drop-menu li a {
  text-decoration: none;
  display: block;
  color: var(--second-color);
  font-size: 2rem;
  padding: 12px 8px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.drop-menu li:not(:last-child) a {
  border-bottom: #ddd 1px solid;
}

.drop-menu li:hover a {
  padding: 12px 24px;
}
/* Start Style drawer */

/* Start Main */
main {
  height: 70vh;
  width: 100%;
  margin-top: 56px;
  /* top: 56px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/mountain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container .welcome-user {
  text-align: center;
}

.welcome-user h1 {
  color: var(--main-color);
}

.container .welcome-user .p{
  color: black;
  font-weight: 400;
}

.h1 {
  font-size: 4rem;
}

.p {
  color: gray;
  line-height: 1.8;
  font-size: 1.4rem;
  font-weight: 300;
}

/* Start Feature */

.feature .container {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding-top: 16px;
  text-align: center;
}

section .container .item{
  margin-bottom: 20px;
  padding: 28px;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

section .container .item i{
  font-size: 5rem;
  color: var(--main-color);
  margin-bottom: 8px;
}

section .container .item h3{
  font-size: 2.0rem;
  font-weight: 500;
}

section .container .item p{
  min-width: 200px;
}

section .container .item:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.05);
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/* New section Style */
.new-section{
  text-align: center;
  margin-bottom: 100px;
}

.new-section > h2{
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 15rem;
  font-weight: 800;
  letter-spacing: -3px;
  color: #eee;
}

.new-section > p{
  margin-top: -40px;
  font-size: 2rem;
  font-weight: 300;
  word-spacing: 3px;
  color: var(--second-color)
}
/* End New section Style */

/* Start Services */
.services{
  margin-bottom: 28px;
}
.services .container{
  display: flex;
  gap: 20px;
  padding-left: 100px;
}

.services .container .services-items{
  flex-basis: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px 80px;
  /* text-align: center; */
}

.service-item{
  display: flex;
  justify-content: center;
  gap: 28px;
  flex-direction: row;
}

.service-item i{
  font-size: 32px;
  color: var(--main-color);
}

.service-item div h3{
  margin: 0;
  font-size: 1.6rem;
  font-weight: 600;
}

.services .container .services-img{
  height: 300px;
  width: 400px;
  position: relative;
  margin-right: 100px;
}

.services .container .services-img img{
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.services .container .services-img::after{
  content: "";
  position: absolute;
  right: -10%;
  top: -40px;
  bottom: -40px;
  width: 20%;
  background-color: var(--second-color);
}
/* End Services */

/* Start Portfolio */
.services + .new-section, .services + .new-section p{
  background-color: #f6f6f6;
  margin-bottom: 0;
  padding-bottom: 24px;
}

.portfolio {
  background-color: #f6f6f6;
  overflow: hidden;
  padding-bottom: 100px;
}

.portfolio .container{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.portfolio .container .project{
  flex-basis: 350px;
  overflow: hidden;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.project img{
  width: 100%;
  background-size: cover;
  background-position: center;
}

.project .description{
  background-color: white;
  padding: 8px 12px;
}

.project .description h3{
  margin: 0;
  font-size: 1.6rem;
  font-weight: 600;
}

.description h3 + .p{
  line-height: 1.5;
  margin-bottom: 0;
}

.portfolio .container .project:hover{
  cursor: pointer;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
/* End Portfolio */

/* Start About */
.about{
  margin-bottom: 100px;
}

.about .container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .container .about-img{
  flex-basis: 80%;
  height: 250px;
  margin-left: 15%;
  margin-right: 20%;
  position: relative;
}

.about-img img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.about .container .about-img::before{
  content: "";
  position: absolute;
  top: -50px;
  left: calc(-35% / 2);
  height: calc(100% + 100px);
  width: 35%;
  background-color: var(--second-color);
  z-index: -1;
}

.about .container .about-img::after{
  content: "";
  position: absolute;
  top: -25px;
  right: calc(-75px - (75px / 2));
  height: 65%;
  width: 75px;
  border-left: #11cab8 75px solid;
  border-bottom: #11cab8 75px solid;
  z-index: -1;
}

.about .container .about-content{
  margin-right: 100px;
}

.about-content h3{
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8;
  margin-bottom: 28px;
}

.about-content p{
  padding-top: 16px;
  position: relative;
}

.about-content p::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 50%;
  background-color: var(--main-color);
}
/* End About */

/* Start Contact */
.about + .new-section{
  background-color: #f6f6f6;
  margin-bottom: 0;
  padding-bottom: 24px;
}

.about + .new-section p{
  margin-bottom: 0;
}

.contact{
  background-color: #f6f6f6;
  padding-top: 25px;
  padding-bottom: 100px;
}

.contact .h1{
  color: var(--second-color);
  margin-bottom: 12px;
}

.contact h2:not(:first-child){
  color: var(--main-color);
  font-size: 3rem;
  margin-left: 42px;
  margin-top: 0;
  margin-bottom: 8px;
}

.contact .social{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  margin-left: 10%;
}

.contact .social .social-icon a{
  text-decoration: none;
  color: var(--second-color);
  margin-right: 12px;
  font-size: 1.6rem;
}
.contact .social .social-icon i{
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
.contact .social .social-icon a:hover i{
  color: var(--main-color);
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}
/* End Contact */

/* Start Footer */
footer{
  height: 56px;
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: white;
  font-weight: 700;
}

footer span:last-child{
  color: var(--main-color);
}
/* End Footer */



/* ------------------------------------------------------- */
.reset-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
